<ion-header>
  <ion-toolbar>
    <ion-title>client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-button type="submit" color="secondary" expand="block">Historique</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button type="submit" color="secondary" expand="block">Commander un chéquier</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button type="submit" color="danger" expand="block">Se déconnecter</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
