<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Créer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <ion-item lines="full">
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Prénom</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="mail"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Tel</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-select-option>Courant</ion-select-option>
            <ion-select-option>Epargne</ion-select-option>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block" [disabled]="!addUserForm.valid">Créer un compte</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
