<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    	<ion-title>Connexion</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<ion-item lines="full">
			<ion-label position="floating">Email</ion-label>
			<ion-input type="text" formControlName="mail"></ion-input>
		</ion-item>
		<ion-item lines="full">
			<ion-label position="floating">Mot de passe</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</ion-item>
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button type="submit" color="danger" expand="block" [disabled]="!loginForm.valid">Se connecter</ion-button>
				<a [routerLink]="['/forgot-password']">Forgot Password?</a>
			</ion-col>
		</ion-row>
	</form>
</ion-content>
