<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GestiBank - Bienvenue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-form">
    <img class="logo" src="assets/logoGestiBank.png" alt="Logo foot">
	<ion-grid>
		<ion-row>
			<ion-col class="ion-align-self-center">
				<ion-button color="primary" expand="block" [routerLink]="['/registration']">
                    Créer un compte				
                </ion-button>
				<span class="divider line one-line">ou</span>
				<span class="already">Vous avez déjà un compte</span>
				<ion-button [routerLink]="['/login']" expand="block" color="danger">Se connecter</ion-button>
                <span class="divider line one-line">ou</span>
                <ion-button [routerLink]="['/exchange']" expand="block" color="light">Conversion</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
