<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Modifier l'agent {{account.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Fermer</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onEditAgent(f)" #f="ngForm">
        <ion-item lines="full"> 
            <ion-label >Nom</ion-label>

            <ion-input type="text" name="name" ngModel="{{account.name}}" required></ion-input>
        </ion-item>

        <ion-item lines="full"> 
            <ion-label >Prénom</ion-label>

            <ion-input type="text" name="firstname" ngModel="{{account.firstname}}" required></ion-input>
        </ion-item>

        <ion-item lines="full"> 
            <ion-label >Tel</ion-label>

            <ion-input type="text" name="phone" ngModel="{{account.phone}}"  required></ion-input>
        </ion-item>

        <ion-item lines="full"> 
            <ion-label >Mail</ion-label>

            <ion-input type="text" name="mail" ngModel="{{account.mail}}" required></ion-input>
        </ion-item>

        <ion-item lines="full"> 
            <ion-label >Matricule</ion-label>

            <ion-input type="text" name="matricule" ngModel="{{account.matricule}}"  required></ion-input>
        </ion-item>
        <ion-item lines="full"> 
            <ion-label >Mot de passe</ion-label>

            <ion-input type="text" name="password" ngModel="{{account.password}}" required></ion-input>
        </ion-item>
        <ion-item lines="full"> 
            <ion-label >Statut</ion-label>

            <ion-input type="text" name="activated" ngModel="{{account.activated}}" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block" [disabled]="f.invalid">Modifier</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>